<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'menu.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../htmcssdounia/all.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/png" href="./appartment.png">
    
    
    <title>Menu</title>
</head>

<details>
  <summary></summary>
  <nav class="menu">
    <a href="#link"><i id="la" class="fa fa-address-card-o" aria-hidden="true"></i> Mon compte </a>
    <a href="{% url 'annonces' %} "><i class="fa fa-newspaper-o" aria-hidden="true"></i> Mes Annonces</a>
    <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>deconnexion</a>
    <a href="#link"> <i class="fa fa-heart-o" aria-hidden="true"></i> Favoris</a>
    <a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"> </i> Home</a>
   
    
   
  </nav>
</details>

<div class="animated-title">
  <div class="text-top">
    <div>
      <span>Post</span>
      <span>Your Animals</span>
    </div>
  </div>
  <div class="text-bottom">
    <div> now</div>
  </div>
</div>




 <!--

<div class="d1">
  <ul>
    <li>Acceuil< <i class="fa fa-home" aria-hidden="true">/i></li>
    <li>Mes annonces  <i class="fa fa-newspaper-o" aria-hidden="true"></i></li>
    <li>Favories <i id="heart" class="fa fa-heart-o" style="font-size:20px"></i></li>
    <li>Mon compte 
      <i id="la" class="fa fa-address-card-o" aria-hidden="true"></i>
      
      
     </li>
    <li>Deconnexion <i class="fa fa-sign-out" aria-hidden="true"></i></li>
  </ul>
 
<video class="video" height="600px"  src="./Pexels Videos 2611250.mp4" muted loop autoplay ></video>
 
  
 
</div >
  -->



      



 
  

</body>
</html>