<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:wght@200&family=Ysabeau:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     


    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:wght@200&family=Ysabeau:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sm.css' %}">
    <title>Your pet</title>
</head>
<body >
 
  {% if user.is_authenticated %}
    <nav>
        <div class="logo">
         <a href="{% url 'home' %} "><img src="{% static 'images1/mypaw.png' %}" alt="Animal paw logo" ></a> 
        </div>
        <ul>
          <li><a href="">About <i style="font-size:24px" class="fa">&#xf29c;</i></a></li>
          <li><a href="{% url 'posts' %}">Adopt Me <i style="font-size:24px" class="fa">&#xf004;</i></a></li>
          <li><a href="#">Contact <i style="font-size:24px" class="fa">&#xf27b;</i></a></li>
          <li><a href="{% url 'menu' %}">Profile <i style='font-size:24px' class='fas'>&#xf508;</i></a></li>
        </ul>
      </nav>
     {% else %}
     <nav>
      <div class="logo">
       <a href="{% url 'home' %} "><img src="{% static 'images1/mypaw.png' %}" alt="Animal paw logo" ></a> 
      </div>
      <ul>
        <li><a href="">About <i style="font-size:24px" class="fa">&#xf29c;</i></a></li>
        <li><a href="{% url 'posts' %}">Adopt Me <i style="font-size:24px" class="fa">&#xf004;</i></a></li>
        <li><a href="#">Contact <i style="font-size:24px" class="fa">&#xf27b;</i></a></li>
        <li><a href="{% url 'register' %}">Sign up <i style="font-size:24px" class="fa">&#xf234;</i> </a></li>
        <li><a href="{% url 'login' %}"> log in <i style="font-size:24px" class="fa">&#xf090;</i></a></li>
      </ul>
    </nav>
    {% endif %}
    
      <div>
  
        
       
        <img src="{% static 'images1/myaccimg.png' %}" alt="" class="centered">

      </div>
    <div>
        <section class="articles">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="{% static 'images1/dogs.jpg' %}" alt="" />
                </figure>
                <div class="article-body">
                  <h2> Wonders of Dog</h2>
                  <p>
                    Dogs are not only man's best friend, but also an important part of our society. These furry creatures have been with us for thousands of years, serving as loyal companions and protectors. They are known for their intelligence, loyalty                  </p>
                  <a href="#" class="read-more">
                    Adopt one <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
            <article>
          
              <div class="article-wrapper">
                <figure>
                  <img src="{% static 'images1/dogs2.webp' %}" alt="" />
                </figure>
                <div class="article-body">
                  <h2>Feline Friends</h2>
                  <p>
                    Cats have been our beloved companions for centuries, with their charming personalities and graceful movements. These furry creatures have a way of stealing our hearts with their mesmerizing eyes  soft purrs, and playful nature.                  </p>
                  <a href="#" class="read-more">
                    Adopt one<span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
            <article>
          
              <div class="article-wrapper">
                <figure>
                  <img src="{% static 'images1/dogs3.jpg' %}" alt="" />
                </figure>
                <div class="article-body">
                  <h2>Fluffy Companions</h2>
                  <p>
                    Rabbits are adorable, fluffy creatures that make wonderful companions. They are social animals and love to play and cuddle. With their unique personalities and cute, floppy ears, rabbits are sure to bring joy to any home.               </p>
                  <a href="#" class="read-more">
                    Adopt one <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </section>
         
          
          <header>
            <!-- Content -->
          </header>
          
          <main>
            <!-- Content -->
          </main>
       
          <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo">Your Pet <i style="font-size:24px" class="fa">&#xf1b0;</i>
              </h1>
                  
              <h2>Contact</h2>
              
              <address>
                5534 Somewhere In. The World 22193-10212<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Media</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Online</a>
                  </li>
          
                  <li>
                    <a href="#">Print</a>
                  </li>
                      
                  <li>
                    <a href="#">Alternative Ads</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>
                
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Hardware Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Software Design</a>
                  </li>
                  
                  <li>
                    <a href="#">Digital Signage</a>
                  </li>
                  
                  <li>
                    <a href="#">Automation</a>
                  </li>
                  
                  <li>
                    <a href="#">Artificial Intelligence</a>
                  </li>
                  
                  <li>
                    <a href="#">IoT</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                  
                  <li>
                    <a href="#">Sitemap</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal">
              <p>&copy; 2023 Something. All rights reserved.</p>
              
              <div class="legal__links">
                <span>Made with <span class="heart">♥</span> Love</span>
              </div>
            </div>
          </footer>
         
</body>
</html>
