<!DOCTYPE html>
<html>
<head>
    <title>User Table</title>
</head>
<body>
    <h2>ANNONNCE Table</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>age</th>
            <th>sex</th>
            <th>race</th>
            <th>espece</th>
            <th>nomanimal</th>
            <th>user</th>
        </tr>
        {% for a in Annonces %}
        <tr> 
            <td>{{ a.id }}</td>
            <td>{{ a.age }}</td>
            <td>{{ a.sex }}</td>
            <td>{{ a.race}}</td>
            <td>{{ a.espece}}</td>
            <td>{{ a.nom_animal}}</td>
            <td>{{ a.user}}</td>

            <td><img src="{{ a.image.url }}" alt="Annonce Image"></td>
           
            

            
        </tr>
        {% endfor %}
    </table>
    {% for u in user %}
      <h1>{{ u.username }} </h1>
      <h1>{{ u.password }} </h1>
    {% endfor %}
</body>
</html>